# cargo build target
/target
# vite build target
/www
# contains private data, use setup.sh to generate
.env

# vite
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite/node_modules
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

vite.config.ts.timestamp-*