@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 18px;

	--white: #ffffff;
	--white-900: #ffffffe6;
	--white-800: #ffffffcc;
	--white-700: #ffffffb3;
	--white-600: #ffffff99;
	--white-500: #ffffff80;
	--white-400: #ffffff66;
	--white-300: #ffffff4d;
	--white-200: #ffffff33;
	--white-100: #ffffff1a;
	--white-50: #ffffff0d;


	--black: #000000;
	--black-900: #000000e6;
	--black-800: #000000cc;
	--black-700: #000000b3;
	--black-600: #00000099;
	--black-500: #00000080;
	--black-400: #00000066;
	--black-300: #0000004d;
	--black-200: #00000033;
	--black-100: #0000001a;
	--black-50: #0000000d;

  --grey: #94989b;
  --grey-900: #94989be6;
  --grey-800: #94989bcc;
  --grey-700: #94989bb3;
  --grey-600: #94989b99;
  --grey-500: #94989b80;
  --grey-400: #94989b66;
  --grey-300: #94989b4d;
  --grey-200: #94989b33;
  --grey-100: #94989b1a;
  --grey-50: #94989b0d;

  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-300: #d1d5db;
  --neutral-400: #9ca3af;
  --neutral-500: #6b7280;
  --neutral-600: #4b5563;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --neutral-900: #111827;

  --pink-50: #f7d3e3;
  --pink-100: #f2c2d8;
  --pink-200: #ecafc9;
  --pink-300: #e89dbb;
  --pink-400: #e28aae;
  --pink-500: #ed8eb2;
  --pink-600: #d7709c;
  --pink-700: #c05c88;
  --pink-800: #a94774;
  --pink-900: #8c335f;

  --blue-50: #e2f0f9;
  --blue-100: #c5dff2;
  --blue-200: #a6cced;
  --blue-300: #86b9e7;
  --blue-400: #65a6e0;
  --blue-500: #4a90d9;
  --blue-600: #3b74b7;
  --blue-700: #2c598f;
  --blue-800: #1d3d68;
  --blue-900: #0e213f;

  --green-50: #e0f5f3;
  --green-100: #bfece9;
  --green-200: #9edfe0;
  --green-300: #7dd2d6;
  --green-400: #5dc6cd;
  --green-500: #47b9c3;
  --green-600: #3a9a9e;
  --green-700: #2d7b79;
  --green-800: #204c54;
  --green-900: #122d2f;
  
  --red-50: #ffe6e1;
  --red-100: #ffcfc9;
  --red-200: #ffb7b1;
  --red-300: #ff9f99;
  --red-400: #ff8782;
  --red-500: #ff6f6a;
  --red-600: #e65c57;
  --red-700: #c94944;
  --red-800: #a83731;
  --red-900: #8b2420;

  --yellow-50: #fff7e6;
  --yellow-100: #ffebcc;
  --yellow-200: #ffd299;
  --yellow-300: #ffbf66;
  --yellow-400: #ffad33;
  --yellow-500: #ff9900;
  --yellow-600: #e68a00;
  --yellow-700: #c67800;
  --yellow-800: #a66600;
  --yellow-900: #864400;

  --violet-50: #f2e5f7;
  --violet-100: #d7c0e9;
  --violet-200: #ba99db;
  --violet-300: #9e74cd;
  --violet-400: #824fbf;
  --violet-500: #672fb1;
  --violet-600: #52298e;
  --violet-700: #3d1e6b;
  --violet-800: #291848;
  --violet-900: #140d24;
}

body {
  margin: 0;
}

a {
  color: var(--green-500);
  transition: color 0.25s ease-in-out;
}

a:hover {
  color: var(--green-700);
}

a.alt {
  color: var(--black);
  transition: color 0.25s ease-in-out;
}

a.alt:hover {
  color: var(--black-700);
}

a.none {
  text-decoration: none;
}

.muted {
  color: var(--black-700);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 400;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  border: 0;
  background: var(--black);
  color: var(--white);
  font-size: 1rem;
  padding: 0.66em 1.32em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
}

.button.primary {
  background: var(--black);
  color: var(--white);
}

.button.primary:not(.disabled):hover {
  background: var(--black-700);
}

.button.pink {
	background: var(--pink-500);
	color: var(--white);
}

.button.pink:not(.disabled):hover {
	background: var(--pink-700);
}

.button.blue {
	background: var(--blue-500);
	color: var(--white);
}

.button.blue:not(.disabled):hover {
	background: var(--blue-700);
}

.button.green {
	background: var(--green-500);
	color: var(--white);
}

.button.green:not(.disabled):hover {
	background: var(--green-700);
}

.button.red {
	background: var(--red-500);
	color: var(--white);
}

.button.red:not(.disabled):hover {
	background: var(--red-700);
}

.button.yellow {
	background: var(--yellow-500);
	color: var(--white);
}

.button.yellow:not(.disabled):hover {
	background: var(--yellow-700);
}

.button.violet {
	background: var(--violet-500);
	color: var(--white);
}

.button.violet:not(.disabled):hover {
	background: var(--violet-700);
}

.button.hollow {
  position: relative;
  background: transparent;
  color: var(--black);
}

.button.hollow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.25em;
  border: 0.15em solid var(--black);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    0.5em 100%,
    0.5em 0,
    calc(100% - 0.5em) 0,
    calc(100% - 0.5em) 100%,
    100% 100%,
    100% 0%
  );
  transition: clip-path 0.3s cubic-bezier(0.5, 0.05, 0.5, 0.95);
}

.button.hollow:not(.disabled):hover::before {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    50% 100%,
    50% 0,
    50% 0,
    50% 100%,
    100% 100%,
    100% 0%
  );
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button.rounded {
  border-radius: 9999em;
}
